START
PUSHN 3
A:
READ
ATOI
STOREL 0
READ
ATOI
STOREL 1
PUSHL 1
PUSHI 0
EQUAL
JZ B
JUMP C
B:
PUSHL 0
PUSHL 1
DIV
STOREL 2
JUMP D
C:
PUSHI 0
STOREL 2
D:
PUSHS "Este é o resultado: "
WRITES
PUSHL 2
WRITEI
PUSHL 2
PUSHI 0
EQUAL
JZ A
PUSHS "Fim do programa"
WRITES
STOP
